.login {
   
    background: #F7F7F7!important;
    
}

 html {
    height: auto!important;
}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border: 1px solid red; 
}
.help-block{
    color:red;
    margin: -15px 0 7px 0; text-align: left;
}
.login_content form div button {
    font-size: 12px;
    margin: 10px 15px 0 0;
}